/*--------------------------Шрифты---------------------------------*/
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("../fonts/Playfair/PlayfairDisplay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("../fonts/Playfair/PlayfairDisplay-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("../fonts/Playfair/PlayfairDisplay-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
/*--------------------------Global---------------------------------*/
.visually-hidden {
    font-size: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper-header {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
}
/*--------------------------Header---------------------------------*/
.header-logo {
    margin-top: 65px;
    margin-bottom: 38px;
    margin-left: 545px;
}

.site-navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    margin-left: 135px;
    margin-bottom: 47px;
}

.site-navigation-list__item {
    margin-right: 54px;
}

.site-navigation-list__item:nth-child(3) {
    margin-right: 50px;
}

.site-navigation-list__item:nth-child(4) {
    margin-right: 49px;
}

.site-navigation-list__item:nth-child(7) {
    margin-right: 47px;
}

.site-navigation-list__item:last-child {
    margin-right: 0;
}

.site-navigation-list__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

/*--------------------------Headline section---------------------------------*/
.headline__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-top: -335px;
    position: relative;
}

.headline__title::before {
    position: absolute;
    content: "";
    width: 55px;
    height: 55px;
    top: -88px;
    left: 48.2%;
    background-image: url("../img/icon-hotel.svg");
}

.headline__subtitle {
    width: 456px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-top: 134px;
    margin-left: 492px;
}


/*--------------------------Reviews section---------------------------------*/
.reviews {
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 100;
}

.reviews__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin: 0;
    margin-left: 680px;
    margin-top: 92px;
}

.reviews-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    margin-top: 21px;
    margin-left: 137px;
}

.reviews-list__item {
    margin-right: 29px;
    z-index: 100;
}

.reviews-list__item:last-child {
    margin-right: 0;
}

.reviews-list__title {
    display: block;
    font-family: "PlayfairDisplay";
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    text-decoration: none;
    color: #000000;

    margin: 0;
    margin-top: 16px;
}

.reviews-list__title:hover {
    color: #FF7931;
}

.review-list__description {
    width: 370px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;

    margin: 0;
    margin-top: 10px;
}

/*--------------------------Abonements section---------------------------------*/

.abonements {
    background-color: #F7F7F7;
    margin-top: 50px;
    position: relative;
    min-height: 556px;
    margin-bottom: 55px;
    z-index: -2;
}

.abonements::before {
    position: absolute;
    content: "";
    width: 707px;
    height: 707px;
    top: -73px;
    left: 405px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: -1;
}

.abonements__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;

    padding-top: 37px;
    margin: 0;
    margin-left: 605px;
}

.abonements-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 35px;
    margin-bottom: 15px;
}

.abonements-list__item {
    margin-bottom: 49px;
    position: relative;
}

.abonements-list__item::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    top: 98px;
    left: 130px;
    background-color: #F7F7F7;
}

.abonements-list__item:last-child::before {
   display: none;
}

.abonements-list__title {
    display: block;
    font-family: "PlayfairDisplay";
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    margin: 0;
    cursor: pointer;
}

.abonements-list__description {
    width: 370px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin: 0;
    margin-top: 7px;
}

.abonements__button {
    font-size: 16px;
    background-color: #FF7931;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;

    margin-left: 635px;
    padding: 15px 62px 14px 25px;
    position: relative;
    cursor: pointer;
    z-index: 1000;
}

.abonements__button::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 15px;
    left: 121px;
    background-image: url("../img/icon-arrow.svg");
    transform: rotate(-90deg);
}


/*--------------------------Footer---------------------------------*/
footer {
    background-color: #575757;
    z-index: 100;
}

.footer-logo {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 580px;
}

.footer-navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    margin-left: 135px;
    margin-bottom: 30px;

    position: relative;
}

.footer-navigation-list::before {
    position: absolute;
    content: "";
    width: 1170px;
    height: 0;
    top: 66px;
    left: 0;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.footer-navigation-list__item {
    margin-right: 54px;
}

.footer-navigation-list__item:nth-child(3) {
    margin-right: 49px;
}

.footer-navigation-list__item:nth-child(4) {
    margin-right: 48px;
}

.footer-navigation-list__item:nth-child(7) {
    margin-right: 47px;
}

.footer-navigation-list__item:last-child {
    margin-right: 0;
}

.footer-navigation-list__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    margin-top: 90px;
    padding-bottom: 46px;
    margin-left: 635px;
}

.social-list__item {
    width: 47px;
    height: 47px;
    background-color: #ffffff;

    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}